div {
  position: absolute;
}

img {
  transition: all 0.25s 0.1s ease-in-out;
}

img[data-is-checked="true"] {
  /* outline: 2px red solid; */
  filter: drop-shadow(0px 0px 25px white);
}
img[data-is-checked="false"] {
  transition: all 0.25s 0.1s;
  /* outline: 2px red solid; */
}
